* {
    text-decoration: none;
    list-style: none;
    text-decoration: none !important;
    font-family: "Gayathri", serif  !important;;
}

body {
    color: #616e56  !important;;
    margin: 0  !important;;
}

.aboutus {
    color: white !important;;
    background-color: #7f936f;
}

h1 {
    font-family: "Gayathri", serif  !important;;
    font-weight: 100  !important;;
    font-style: normal  !important;;
    font-size: 6em  !important;;
}

h3 {
    font-family: "Gayathri", serif  !important;;
    font-weight: 100  !important;;
    font-style: normal  !important;;
    font-size: 2.5em  !important;;
}

h2 {
    font-family: "Gayathri", serif  !important;;
    font-weight: 100  !important;;
    font-style: normal  !important;;
    font-size: 1.25em  !important;;
}

p {
    font-family: "Montserrat", sans-serif  !important;;
    font-weight: 200  !important;;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

nav a {
    color: #616e56;
}

/* SECCION ABOUT US */
.about-section {
    padding-top: 7em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}
.about-section h1 {
    font-size: 2.5rem;
    color: #f8f8f8;
    margin-bottom: 1.5rem;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #f8f8f8;
}

.about-section img {
    max-width: 100%; 
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* FAQs */
.faq-list {
    max-width: 800px;
    margin: 2em auto;
    border-top: 1px solid #ccc;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #6b8460;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

.faq-toggle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #aaaaaa;
    transition: color 0.3s ease;
}

.faq-toggle:hover {
    color: #ffffff;
}

.faq-response {
    display: none;
    padding-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #e0e0e0;
    transition: all 0.3s ease;
}

/* EQUIPO */
#team {
    align-items: center;
}
#team .team-member {
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
}

#team .team-member img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

#team .team-member h4 {
    font-size: 1.2rem;
    margin-top: 15px;
}

#team .team-member .role {
    font-size: 1rem;
    color: #666;
}

#team .team-member p {
    font-size: 0.9rem;
    color: #ffabde !important;
}

#team .team-member:hover img {
    transform: scale(1.1); 
}
#team .row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

/* PAG HOME PAGE */
a h2:hover, a h3:hover {
    color: #ffabde !important;
}

#cerrar:hover {
    background-color: #ffabde !important;
    transition: transform 0.3s linear;

}
/* HOME PAGE */
header {
    height: 100vh;
    background-image: url("../media/img/img1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index: -1;
    transition: background-image 0.25s ease-in-out;

}

#title {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* HOME PAGE > MENU */
#menu {
    display: flex;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 5;
    background-color: white;
    align-items: center;
}

#menu > a {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 0.5em;
}

#menu_b {
    width: 75% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#menu_b ul {
    width: 85%;
    height: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #616e56;
    border-radius: 50px;
}

#menu_b ul li {
    padding-top: 0.5em;
}

#menu_b ul li h2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5rem !important;
}

 #menu > a {
    padding-top: 1.5em;
}

#menu_b ul li a {
    color: #616e56;
}

/* Botón hamburguesa */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #616e56;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}


/* SECTION 1 */
#section1 {
    height: 100vh;
    background-image: url("../media/img/img2.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index: -1;
    
}

#section1 > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#section1 > div > div {
    width: 30%;
    padding-right: 5em;
    text-align: center;
}

#section1 p {
    color: white !important;
}

/* MATCHA */
#matcha {
    height: 100vh;
}

#green {
    width: 100%;
    padding-top: 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#green h1 {
    text-align: center;
    margin: 0 !important;
}

#green h1:last-child {
    color: #7f936f !important;
}

/* MATCHA > IMG */
#img_m {
    position: absolute;
    display: flex;
    width: 100%;
}

.img_m {
    width: 50%;
}

#matcha img {
    aspect-ratio: 1/1;
    width: 200px;
}

#img_m1 {
    display: flex;
    justify-content: flex-end;
    padding: 2em 5em;
}

#img_m2 {
    padding-left: 3em;
}

#img_m2 img, #img_m4 img {
    width: 230px;
}

#img_m3 {
    display: flex;
    justify-content: center;
}

#img_m4 {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

#img_m5 {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
}

#img_m5 img, #img_m3 img {
    width: 180px;
}

#img_m6 {
    padding-left: 10em;
}

/* MATCHA > IMG > ROTATE */
#img_m1 img, #img_m3 img, #img_m5 img {
    transform: rotate(calc(var(--scroll) * 360deg));
    transition: transform 0.1s linear;
}

#img_m2 img, #img_m6 img {
    transform: rotate(calc(var(--scroll) * 180deg));
    transition: transform 0.5s linear;
}

#img_m4 img {
    transform: rotate(calc(var(--scroll) * 180deg));
    transition: transform 0.3s linear;
}

/* MATCHA > IMG > HOVER */
#matcha img:hover {
    transform: rotate(-90deg) scale(1.15);
    transition: transform 0.5s linear, scale 0.5s linear;
}

.img_m_izq {
    position: relative;
    display: inline-block;
}

.img_m_izq::after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.7em;
    line-height: 0.9em;
    font-family: Gayathri;
    color: white;
    background-color: #ffabde;
    padding: 0.2em;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 0.4em 0.4em 0; 
    border-radius: 50px;
    text-align: center;
}

#img_m1::after {
    content: "Ice Matcha";
}

#img_m2::after {
    content: "Matcha & Strawberry";
}

#img_m3::after {
    content: "Original Matcha";
}

#img_m4::after {
    content: "Coconut Matcha";
}

#img_m5::after {
    content: "Cream Matcha";
}

#img_m6::after {
    content: "Smooth Matcha";
}

.img_m_izq:hover::after {
    opacity: 1;
}

/* GALLERY*/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 100%;
  height: 0;
}

.gallery img {
  width: 100%;
}

.gallery img.full-width {
  grid-column: span 2; 
}

.gallery img, 
.image-container img {
  width: 100%; 
  height: 550px; 
  display: block;
  object-fit: cover;
}

.image-container {
  position: relative; 
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(119, 148, 119);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.2s;
}

.image-container:hover .text-overlay {
  opacity: 1; 
}

/* CARDS */
#cards {
    height: 100%;
    padding-top: 5em !important;
    margin: 2em !important;
}

#cards h1 {
    text-align: center;
}

.card-body p, .card-body h2 {
    color: #616e56 !important;
}

.card-body div {
    display: flex;
}

.card-body i {
    padding-right: 0.5em;
    padding-top: 0.15em;
}

/* ANIMATION */
#anim {
    width: 200px;
    aspect-ratio: 1/1;
}

#animation {
    width: 100%;
    height: 50vh;
    padding: 4em 0;
}

#animation div div:last-child {
    padding: 0 4em;
    width: 100%;
}

#animation div div:first-child {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

/* FOOTER */
footer {
    height: 100% !important;
    margin: 2em !important;
    border: 2px solid #616e56 !important;
    border-radius: 50px !important;
    padding: 2.5em !important;
}

footer a, footer h2 {
    color: #616e56 !important;

}

#footer_down {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
}

#footer_down div {
    width: 33%  !important;
}

/* FOOTER > SUBSCRIBE */
.subscribe_email input {
    border-radius: 50px !important;
    height: 2em !important;
    font-family: "Montserrat", sans-serif !important;
}

#user {
    width: 70%;
    padding-left: 1em;
    border: 1px solid #616e56;
}

#cerrar {
    width: 25%;
    border: none;
    background-color: #616e56;
    color: white !important;
}
    

/* MEDIA QUERIES */
@media (max-width: 1100px) {

    /* aboutus */
    .about-section .row {
        flex-direction: column; 
        text-align: center; 
    }
    
    .about-section .col-md-4 {
        width: 100%; 
    }
    
    .about-section img {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 1050px) {
    #menu a h3 {
        font-size: 2em !important;
    }

    h1 {
        font-size: 4em !important;
    }

    p {
        font-size: 0.75em !important;
    }

    #matcha {
        height: 70vh;
    }

    #matcha img {
        aspect-ratio: 1/1;
        width: 130px;
    }

    #img_m2 img, #img_m4 img {
        width: 150px;
    }

    #img_m5 img, #img_m3 img {
        width: 100px;
    }

    #img_m1 {
        padding-right: 6em !important;
    }
    
    #img_m6 {
        padding-left: 8em;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #user {
        width: 100%;
        margin-bottom: 0.25em !important;
    }

    #cerrar {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #team .row {
        justify-content: center; 
    }

    #team .col-md-2 {
        flex: 0 0 45%; 
        max-width: 45%;
    }
}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 1em !important;
    }

    #animation {
        height: 100%;
    }

    #anim {
        width: 150px;
    }

    #animation div div:first-child {
        height: 20%;
    }

    .img_m_izq::after {
        font-size: 1em;
    }
}

@media screen and (max-width: 750px) {

    h1 {
        font-size: 3em !important;
    }

    .about-section p {
        font-size: 1rem;
    }

    /* menu */

    #menu-toggle {
        display: block; /* Mostrar botón hamburguesa */
    }

    #menu_b {
        display: none !important; /* Ocultar menú original */
        position: absolute;
        top: 15vh; /* Aparece debajo del menú principal */
        right: 0;
        background-color: white;
        width: 100% !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
    }

    #menu_b ul {
        width: 100%;
        /* height: auto; */
        width: 100%;
        flex-direction: column;
        align-items: center;
        border: none;
        margin: 0;
    }

    #menu_b ul li {
        margin: 10px 0;
    }

  
    #menu_b.active {
        display: flex !important;
    }

    #section1 > div {
        justify-content: center;
    }

    #section1 > div > div {
        width: 50%;
        padding-right: 0em;
    }

    #section1 p {
        font-weight: 600 !important;
    }

    #matcha {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    #img_m {
        display: flex;
        flex-direction: column;
    }

    .img_m {
        width: 100%;
    }

    #img_m {
        position: relative;
    }

    #img_m1 {
        padding: 0 2em !important;
    }

    #img_m2 {
        padding-left: 6em;
    }

    #img_m3 {
        padding: 0em;
        padding-left: 10em;
    }

    #img_m4 {
        padding-top: 0;
    }

    #img_m5 {
        padding-right: 5em;
        padding-top: 1em;
    }

    #img_m6 {
        padding-left: 5em;
    }

    #matcha img {
        aspect-ratio: 1/1;
        width: 180px;
    }
    
    #img_m2 img, #img_m4 img {
        width: 200px;
    }

    #img_m5 img, #img_m3 img {
        width: 150px;
    }

    #cards {
        padding-top: 2em !important;
    }

    .col {
        padding-bottom: 2em !important;
    }

    #animation div div:first-child {
        height: 12%;
    }

    #animation div h3 {
        font-size: 1.25em !important;
    }

    #anim {
        width: 80px;
    }

    footer {
        height: 100% !important;
    }

    #footer_down {
        flex-direction: column; 
    }

    #footer_down div {
        width: 100% !important;
    }

    #footer1, #footer2 {
        padding-bottom: 1em;
    }

    .gallery {
    display: block;
    object-fit: cover;
  }
}


@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #matcha img {
        aspect-ratio: 1/1;
        width: 130px;
    }

        #img_m1 {
        padding: 0 2em !important;
    }

    #img_m2 {
        padding-left: 3em;
    }

    #img_m3 {
        padding: 1em;
        padding-left: 10em;
    }

    #img_m4 {
        padding-top: 0;
    }

    #img_m5 {
        padding-right: 2em;
        padding-top: 1em;
    }

    #img_m6 {
        padding-left: 3em;
    }

    #img_m2 img, #img_m4 img {
        width: 150px;
    }

    #img_m5 img, #img_m3 img {
        width: 100px;
    }

    .about-section p {
        font-size: 1rem;
    }

    .faq-question {
        font-size: 1rem;
    }

    #animation {
        padding-top: 0.5em;
    }

    #animation div div:first-child {
        height: 15%;
        padding-top: 5.5em;
    }
}

@media (max-width: 500px) {
    #team .col-md-2 {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}
