* {
    text-decoration: none;
    list-style: none;
    text-decoration: none !important;
    font-family: "Gayathri", serif  !important;;
}

body {
    color: #616e56  !important;;
    margin: 0  !important;;
}

.aboutus {
    color: white !important;;
    background-color: #7f936f;
}

h1 {
    font-family: "Gayathri", serif  !important;;
    font-weight: 100  !important;;
    font-style: normal  !important;;
    font-size: 6em  !important;;
}

h3 {
    font-family: "Gayathri", serif  !important;;
    font-weight: 100  !important;;
    font-style: normal  !important;;
    font-size: 2.5em  !important;;
}

h2 {
    font-family: "Gayathri", serif  !important;;
    font-weight: 100  !important;;
    font-style: normal  !important;;
    font-size: 1.25em  !important;;
}

p {
    font-family: "Montserrat", sans-serif  !important;;
    font-weight: 200  !important;;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

nav a {
    color: #616e56;
}

/* PAG ABOUT US */


/* SECCION ABOUT US */
.about-section {
    padding-top: 7em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}
.about-section h1 {
    font-size: 2.5rem;
    color: #f8f8f8;
    margin-bottom: 1.5rem;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #f8f8f8;
}

.about-section img {
    max-width: 100%; /* Responsivo */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* FAQs */
.faq-list {
    max-width: 800px;
    margin: 2em auto;
    border-top: 1px solid #ccc;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #6b8460;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

.faq-toggle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #aaaaaa;
    transition: color 0.3s ease;
}

.faq-toggle:hover {
    color: #ffffff;
}

.faq-response {
    display: none;
    padding-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #e0e0e0;
    transition: all 0.3s ease;
}

/* EQUIPO */
#team {
    align-items: center;
}
#team .team-member {
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
}

#team .team-member img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

#team .team-member h4 {
    font-size: 1.2rem;
    margin-top: 15px;
}

#team .team-member .role {
    font-size: 1rem;
    color: #666;
}

#team .team-member p {
    font-size: 0.9rem;
    color: #555;
}

#team .team-member:hover img {
    transform: scale(1.1); 
}
#team .row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

/* PAG HOME PAGE */
a h2:hover, a h3:hover {
    color: #ffabde !important;
}

#cerrar:hover {
    background-color: #ffabde !important;
    transition: transform 0.3s linear;

}
/* HOME PAGE */
header {
    height: 100vh;
    background-image: url("../media/img/img1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index: -1;
    transition: background-image 0.25s ease-in-out;

}

#title {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* HOME PAGE > MENU */
#menu {
    display: flex;
    width: 100%;
    height: 15vh !important;
    position: fixed;
    z-index: 5;
}

#menu > a {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

#menu_b {
    width: 75% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#menu_b ul {
    width: 85%;
    height: 50% !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #616e56;
    border-radius: 50px;
}

#menu_b ul li {
    padding-top: 0.5em;
}

.aboutus #menu_b ul li h2 {
    margin-top: 0.5em !important;
}

.aboutus #menu > a {
    padding-top: 1.5em;
}

#menu_b ul li a {
    color: #616e56;
}

/* Botón hamburguesa */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #616e56;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

/* SECTION 1 */
#section1 {
    height: 100vh;
    background-image: url("../media/img/img2.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index: -1;
    
}

#section1 > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#section1 > div > div {
    width: 30%;
    padding-right: 5em;
    text-align: center;
}

#section1 p {
    color: white !important;
}

/* MATCHA */
#matcha {
    height: 100vh;
}

#green {
    width: 100%;
    padding-top: 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#green h1 {
    text-align: center;
    margin: 0 !important;
}

#green h1:last-child {
    color: #7f936f !important;
}

/* MATCHA > IMG */
#img_m {
    position: absolute;
    display: flex;
    width: 100%;
}

.img_m {
    width: 50%;
}

#matcha img {
    aspect-ratio: 1/1;
    width: 200px;
}

#img_m1 {
    display: flex;
    justify-content: flex-end;
    padding: 2em 5em;
}

#img_m2 {
    padding-left: 3em;
}

#img_m2 img, #img_m4 img {
    width: 230px;
}

#img_m3 {
    display: flex;
    justify-content: center;
}

#img_m4 {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

#img_m5 {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
}

#img_m5 img, #img_m3 img {
    width: 180px;
}

#img_m6 {
    padding-left: 10em;
}

/* MATCHA > IMG > ROTATE */
#img_m1 img, #img_m3 img, #img_m5 img {
    transform: rotate(calc(var(--scroll) * 360deg));
    transition: transform 0.1s linear;
}

#img_m2 img, #img_m6 img {
    transform: rotate(calc(var(--scroll) * 180deg));
    transition: transform 0.5s linear;
}

#img_m4 img {
    transform: rotate(calc(var(--scroll) * 180deg));
    transition: transform 0.3s linear;
}

/* MATCHA > IMG > HOVER */
#matcha img:hover {
    transform: rotate(-90deg) scale(1.15);
    transition: transform 0.5s linear, scale 0.5s linear;
}

.img_m_izq {
    position: relative;
    display: inline-block;
}

.img_m_izq::after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.7em;
    line-height: 0.9em;
    font-family: Gayathri;
    color: white;
    background-color: #ffabde;
    padding: 0.2em;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 0.4em 0.4em 0; 
    border-radius: 50px;
    text-align: center;
}

#img_m1::after {
    content: "Ice Matcha";
}

#img_m2::after {
    content: "Matcha & Strawberry";
}

#img_m3::after {
    content: "Original Matcha";
}

#img_m4::after {
    content: "Coconut Matcha";
}

#img_m5::after {
    content: "Cream Matcha";
}

#img_m6::after {
    content: "Smooth Matcha";
}

.img_m_izq:hover::after {
    opacity: 1;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
    #menu a h3 {
        font-size: 2em !important;
    }

    h1 {
        font-size: 4em !important;
    }

    p {
        font-size: 0.75em !important;
    }

    #matcha {
        height: 70vh;
    }

    #matcha img {
        aspect-ratio: 1/1;
        width: 130px;
    }

    #img_m2 img, #img_m4 img {
        width: 150px;
    }

    #img_m5 img, #img_m3 img {
        width: 100px;
    }

    #img_m1 {
        padding-right: 6em !important;
    }
    
    #img_m6 {
        padding-left: 8em;
    }
}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 1em !important;
    }
}

@media screen and (max-width: 750px) {
    /* menu hamburguersa */
    h1 {
        font-size: 3em !important;
    }

    #section1 > div {
        justify-content: center;
    }

    #section1 > div > div {
        width: 50%;
        padding-right: 0em;
    }

    #section1 p {
        font-weight: 600 !important;
    }

    #matcha {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    #img_m {
        display: flex;
        flex-direction: column;
    }

    .img_m {
        width: 100%;
    }

    #img_m {
        position: relative;
    }

    #img_m1 {
        padding: 0 2em !important;
    }

    #img_m2 {
        padding-left: 6em;
    }

    #img_m3 {
        padding: 0em;
        padding-left: 10em;
    }

    #img_m4 {
        padding-top: 0;
    }

    #img_m5 {
        padding-right: 5em;
        padding-top: 1em;
    }

    #img_m6 {
        padding-left: 5em;
    }

    #matcha img {
        aspect-ratio: 1/1;
        width: 180px;
    }
    
    #img_m2 img, #img_m4 img {
        width: 200px;
    }

    #img_m5 img, #img_m3 img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #matcha img {
        aspect-ratio: 1/1;
        width: 130px;
    }

        #img_m1 {
        padding: 0 2em !important;
    }

    #img_m2 {
        padding-left: 3em;
    }

    #img_m3 {
        padding: 1em;
        padding-left: 10em;
    }

    #img_m4 {
        padding-top: 0;
    }

    #img_m5 {
        padding-right: 2em;
        padding-top: 1em;
    }

    #img_m6 {
        padding-left: 3em;
    }

    #img_m2 img, #img_m4 img {
        width: 150px;
    }

    #img_m5 img, #img_m3 img {
        width: 100px;
    }

    .about-section p {
        font-size: 1rem;
    }

    .faq-question {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    #team .col-md-2 {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .about-section p {
        font-size: 1rem;
    }
}
@media (max-width: 1000px) {
    #team .row {
        justify-content: center; 
    }

    #team .col-md-2 {
        flex: 0 0 45%; 
        max-width: 45%;
    }
}

@media (max-width: 1100px) {

    /* menu */

        #menu-toggle {
            display: block; /* Mostrar botón hamburguesa */
        }
    
        #menu_b {
            display: none; /* Ocultar menú original */
            position: absolute;
            top: 15vh; /* Aparece debajo del menú principal */
            right: 0;
            background-color: white;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            flex-direction: column;
        }
    
        #menu_b ul {
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            border: none;
            margin: 0;
        }
    
        #menu_b ul li {
            margin: 10px 0;
        }
    
      
        #menu_b.active {
            display: flex;
        }

     /* aboutus */

        .about-section .row {
            flex-direction: column; 
            text-align: center; 
        }
    
        .about-section .col-md-4 {
            width: 100%; 
        }
    
        .about-section img {
            margin-top: 1.5rem;
        }
    }
    

